body{
	font-family:Arial, Helvetica, sans-serif;
	background-color:#E0E0E0;
	color:#6B6B6B;
}
header{
	box-shadow: 2px 2px 10px #BBB;
	text-align: center;
	font-size: 2em;
}
#canvas_france {
	/*border: 1px solid #aaa;*/
	/*background-color: #FFF;*/
	display: inline-block;
	margin-left: 10px;
}
#infos_france {
	/*border: 1px solid #FF0;*/
	/*background-color: #FFF;*/
	vertical-align: top;
	display: inline-block;
	width: 50%;
	margin-left: 10px;
	text-align: justify;
	
}
#infos_france h3 {
	text-align: center;
}
.tooltip {
	/*border: 2px solid #000;*/
	position : absolute;
	min-height: 1em;
	max-width : 150px;
	text-align: center;
	border: none;
	border-radius: 10px;
	box-shadow: 2px 2px 10px #BBB;
	background-color: white;
	padding: 5px;
	opacity:0.9;
	filter:alpha(opacity=90); /* For IE8 and earlier */
}
.legende {
	border-radius: 50%/50%; 
	width: 15px;
	height: 16px;
	/*border: 1px solid black;*/
	background: black;
	list-style-type: none;
	margin-left: -40px;
}
.legendeTexte {
	position: relative;
	margin-left: 25px;
	height: 15px;
	width: 500px;
	list-style-type: none;
	/*border: 1px solid black;*/
}
#national {
	width: 500px;
}
#age_moyen {
	width: 500px;
}
#pourcentageRecherche {
	width: 500px;
	
	
}
#age_moyen_departement {
	width:500px;
}
#RembAssocFrance {
	width: 500px;
}
#RembAssocDep{
	width: 500px;
	
}
#span {
	color : black;
	margin-left: 100px;
}
#legendeGeneral {
	color : black;
}
#legendeAgeFr {
	color : black;
	
}
#legendeAgeDep {
	color : black;
	margin-left : 100px;
}
#legendeRemFr {
	color : black;
	
}
#legendeRemDep {
	color : black;
	margin-left : 40px;
}

#legendeColor {
	
  width: 15px;
  height: 20px;
  
  float: left;
  background-color: #0c9395;
  margin-right: 10px;

}
#legendeColor2 {
	
	width: 15px;
	height: 20px;
	
	float: left;
	background-color: #e7d104;
	margin-right: 10px;
  
  }
  #legendeColor3 {
	
	width: 15px;
	height: 20px;
	
	float: left;
	background-color: #e90840;
	margin-right: 10px;
  
  }
#legendeBoite {
	width: 400px;
	margin-left: 15px;
	
}
#legendeAge {
	width: 400px;
	margin-left: 15px;
	
}
#legendeRem {
	width: 400px;
	margin-left: 15px;
	
}