.navbar {
    width: 100%;
    background-color: rgb(137, 238, 128); 
    color: black;
    font-size: 20px; 

}
#navbarNav > ul >li > a {
    padding-left: 30px;
}
 #navbarNav > ul >li > a:hover,
#navbarNav > ul >li > a:focus {
 color: rgb(236, 245, 236);
}
#logo {
    margin-top: -227px;
}

#banniere1 {
    width: 100%;
    height: 400px;
}
#presentation {
    font-size: 28px;
    margin-top: 60px;
    text-align: center;
    border-bottom: rgb(133, 128, 128) solid;
    padding-bottom: 80px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    
}
#activite{
    text-align: center;
    margin-top: 50px;
    font-family: 'Baloo Tammudu', cursive;
}





/* -----------------footer -------------- */